{{#if this.isHomepage}}
  <section class="resources snipcss-aQjeH">
    <div class="resources-title">Resources</div>
    <div class="resources-list">
      <div class="column training-resources">
        <div class="resource-title">Training Resources</div>
        <div class="resource-content">This initial module will provide you with a foundational understanding of mobile markets, the role they play in supporting communities, and the conditions necessary for increasing the odds of success. The module concludes with an activity where you are encouraged to reflect on what you have learned and create a vision statement for your own mobile market.</div>
        <div class="wrap-button">
          <a class="btn btn-icon-text btn-default btn-learn-more" href="c/training-resources" data-auto-route="true">
            <span class="text">Learn More</span>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_223_15393" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <rect x="0.666748" y="0.5" width="24" height="24" fill="#D9D9D9"></rect>
              </mask>
              <g mask="url(#mask0_223_15393)">
                <path d="M14.6667 18.5L13.2667 17.05L16.8167 13.5H4.66675V11.5H16.8167L13.2667 7.95L14.6667 6.5L20.6667 12.5L14.6667 18.5Z" fill="white"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>

<div class="column community-forum">
        <div class="resource-title">Community Forum</div>
        <div class="resource-content">This initial module will provide you with a foundational understanding of mobile markets, the role they play in supporting communities, and the conditions necessary for increasing the odds of success. The module concludes with an activity where you are encouraged to reflect on what you have learned and create a vision statement for your own mobile market.</div>
        <div class="wrap-button">
          <a class="btn btn-icon-text btn-default btn-learn-more" href="c/community-forum" data-auto-route="true">
            <span class="text">Learn More</span>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_223_15393" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <rect x="0.666748" y="0.5" width="24" height="24" fill="#D9D9D9"></rect>
              </mask>
              <g mask="url(#mask0_223_15393)">
                <path d="M14.6667 18.5L13.2667 17.05L16.8167 13.5H4.66675V11.5H16.8167L13.2667 7.95L14.6667 6.5L20.6667 12.5L14.6667 18.5Z" fill="white"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="column events-and-webinars">
        <div class="resource-title">Events and Webinars</div>
        <div class="resource-content">This initial module will provide you with a foundational understanding of mobile markets, the role they play in supporting communities, and the conditions necessary for increasing the odds of success. The module concludes with an activity where you are encouraged to reflect on what you have learned and create a vision statement for your own mobile market.</div>
        <div class="wrap-button">
          <a class="btn btn-icon-text btn-default btn-learn-more" href="c/events-and-webinars" data-auto-route="true">
            <span class="text">Learn More</span>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_223_15393" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <rect x="0.666748" y="0.5" width="24" height="24" fill="#D9D9D9"></rect>
              </mask>
              <g mask="url(#mask0_223_15393)">
                <path d="M14.6667 18.5L13.2667 17.05L16.8167 13.5H4.66675V11.5H16.8167L13.2667 7.95L14.6667 6.5L20.6667 12.5L14.6667 18.5Z" fill="white"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
{{/if}}