{{#if this.isHomepage}}
  <section class="course-overview snipcss-K3msL">
    <h4 class="course-overview-title"></h4>
    <div class="course-overview-subtitle">
        <h7>  </h7>
    </div>
    <section id="ember33" class="category-boxes with-logos ember-view">
        <div class="row course-overview-page">
            <div class="full-width">
                <div id="list-area">
                    <div class="contents">
                        <div class="custom-category-boxes-container">
                            <span class="custom-category-boxes">
                                <div data-category-id="5" data-notification-level="regular" data-url="/c/mobile-market-u/mod1/5" class="category category-box category-box-mod1
                   style-InhQq" id="style-InhQq">
                                    <div class="category-box-inner">
                                        <div class="category-logo style-gZ2Li" id="style-gZ2Li">
                                            <div class="category-logo aspect-image" style="background: #db4720">
                                                <img src="https://connect.trackssoftware.com/uploads/default/original/1X/9e822947e713a050188b9cb3497ec0b0365e5f2f.svg" width="126" height="135" alt="" id="style-ZoSgW" class="style-ZoSgW">
                                            </div>
                                        </div>
                                        <div class="category-details">
                                            <div class="category-box-heading">
                                                <a class="parent-box-link" href="/c/community-discussion/5">
                                                    <div class="category-item">
                                                        <div class="category-title">Community Discussion</div>
                                                        <div class="category-subtitle"> </div>
                                                        <div class="category-content">
                                                            <div class="svg">
                                                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M1 5.70455L5.2 10L14 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="content">Join the Conversation</div>
                                                        </div>
                                                        <div class="category-content">
                                                            <div class="svg">
                                                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M1 5.70455L5.2 10L14 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="content">A place for discussions, and questions and answers to help each other get the most out of Tracks.</div>
                                                        </div>
                                                        
                                                    
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-category-id="6" data-notification-level="regular" data-url="/c/mobile-market-u/mod2/6" class="category category-box category-box-mod2
                   style-ocFTv" id="style-ocFTv">
                                    <div class="category-box-inner">
                                        <div class="category-logo style-fLRyd" id="style-fLRyd">
                                            <div class="category-logo aspect-image" style="background: #FFB4A1">
                                                <img src="https://connect.trackssoftware.com/uploads/default/original/1X/9e822947e713a050188b9cb3497ec0b0365e5f2f.svg" width="126" height="127" alt="" id="style-zoLUp" class="style-zoLUp">
                                            </div>
                                        </div>
                                        <div class="category-details">
                                            <div class="category-box-heading">
                                                <a class="parent-box-link" href="/c/documentation/6">
                                                    <div class="category-item">
                                                        <div class="category-title">Documentation</div>
                                                        <div class="category-subtitle"></div>
                                                        <div class="category-content">
                                                            <div class="svg">
                                                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M1 5.70455L5.2 10L14 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="content">Find step-by-step instructions, usage guides, and best practices for using our platform</div>
                                                        </div>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-category-id="7" data-notification-level="regular" data-url="/c/mobile-market-u/mod3/7" class="category category-box category-box-mod3
                   style-mbCIP" id="style-mbCIP">
                                    <div class="category-box-inner">
                                        <div class="category-logo style-D19xZ" id="style-D19xZ">
                                            <div class="category-logo aspect-image" style="background: #f49d17">
                                                <img src="https://connect.trackssoftware.com/uploads/default/original/1X/6d81331ee8d3a22567e1a6b34e3b88dcb140d944.png" width="117" height="117" alt="" id="style-rAXYD" class="style-rAXYD">
                                            </div>
                                        </div>
                                        <div class="category-details">
                                            <div class="category-box-heading">
                                                <a class="parent-box-link" href="/c/release-notes/7">
                                                    <div class="category-item">
                                                        <div class="category-title">Release Notes</div>
                                                        <div class="category-subtitle"></div>
                                                        <div class="category-content">
                                                            <div class="svg">
                                                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M1 5.70455L5.2 10L14 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="content">Stay Updated with the recent releases</div>
                                                        </div>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-category-id="8" data-notification-level="regular" data-url="/c/mobile-market-u/mod4/8" class="category category-box category-box-mod4
                   style-eYNZ6" id="style-eYNZ6">
                                    <div class="category-box-inner">
                                        <div class="category-logo style-aBxGj" id="style-aBxGj">
                                            <div class="category-logo aspect-image" style="background: #FCD74E">
                                                <img src="https://connect.trackssoftware.com/uploads/default/original/1X/74822859d081a7f8641962fc1150debec11ba5e1.png" width="126" height="126" alt="" id="style-6CT4r" class="style-6CT4r">
                                            </div>
                                        </div>
                                        <div class="category-details">
                                            <div class="category-box-heading">
                                                <a class="parent-box-link" href="/c/contact-us/8">
                                                    <div class="category-item">
                                                        <div class="category-title">Contact Us</div>
                                                        <div class="category-subtitle"></div>
                                                        <div class="category-content">
                                                            <div class="svg">
                                                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M1 5.70455L5.2 10L14 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="content">We’d love to hear from you!</div>
                                                        </div>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{{/if}}